<div
    class="container status has-text-centered"
    x-data="{ id: {{id}} }"
>
    <button
        class="button is-danger"
        x-on:click="deletePost(id)"
    >
        Supprimer
    </button>
</div>
