@if(flashMessages.has(`errors.${value}`))
    <div
        class="{{`error ${value}`}}"
        x-data="{click: false}"
        x-show="!click"
        x-transition.duration.1200ms
    >
        <span
            class="subtitle is-5 has-text-danger"
            x-on:click="click = !click"
        >
            {{ flashMessages.get(`errors.${value}`) }}
        </span>
        <div
            class="exit-icon"
            x-on:click="click = !click"
        ></div>
    </div>
@end