<footer
    class="footer has-text-centered is-secondary add-blur centering-item"
>
    <div class="container">
        <div class="columns">
            <a href="{{route('conditions')}}" class="column">Mentions Legales</a>
        </div>
        
        <p>ELoise Martin , Sophrologue © 2023 Tous droits réservés</p>
        
        <span>Site web cree par <a href="#">GL.digital</a></span>
    </div>
</footer>