<footer
    class="footer has-text-centered is-primary add-blur centering-item"
>
    <div class="container">
        <div class="columns">
            <a href="#" class="column">Mentions Legales</a>
        </div>
        <p>ELoise Martin , Sophrologue © 2023 Tous droits réservés</p>
    </div>
</footer>