@layout('layout')

@section('page')
    <section
        class="section is-large"
    >   
        <div class="container">
            <h1 class="title is-2 has-text-danger">Hop hop hop, pas si vite 👹</h1>
            <p class="content is-large">Le serveur renvoit une erreur 403.</p>
            <p class="content is-medium">Cela signifie que vous n'avez pas l'authorisation d'acceder a ce service.</p>
        </div>
        
    </section>
@endsection