.page-padding {
  padding-top: 188px;
  @media (max-width: 1023px) {
    padding: 104px 0px 104px 0px;
  }
}

.about {
  @media (min-width: 1024px) {
    padding: 52px;
    border-radius: 65% 8% 65% 8% / 8% 65% 8% 65%;

    @include blur-filter(2px);
    @include transparent-back($about, 0.9);

    > .title,
    > .content {
      padding: 24px;
      margin: 52px 52px 52px 52px;
    }
  }
  @media (min-width: 540px) and (max-width: 1023px) {
    border-radius: 25% 5% 25% 5% / 5% 25% 5% 25%;
    margin: 20px;

    @media (min-width: 768px) and (max-width: 1023px) {
      @include blur-filter(2px);
      @include transparent-back($about, 0.9);
    }

    > .title {
      padding: 72px 36px;
    }
    > .content {
      padding: 0px 36px 72px 36px;
    }
  }
  @media (max-width: 539px) {
    > .title,
    > .content {
      padding: 24px;
      margin: 0px;
    }
  }
}
