.page-padding {
  padding-top: 128px;
  @media (max-width: 1023px) {
    padding: 104px 0px 104px 0px;
  }
}

.about {
  @include smoothShadow(6px, 1px, $shadow, 0.5);
  @include opacity($bezier-2);

  @media (max-width: 767px) {
    box-shadow: none;
  }
  @media (min-width: 768px) {
    @include blurFilter(2px);
    @include transparentBack($about, 0.9);
  }

  @media (min-width: 540px) and (max-width: 1023px) {
    margin: 20px;
    border-radius: 25% 55% 38% 5% / 6% 25% 13% 25%;
  }

  @media (min-width: 1024px) {
    padding: 52px;
    border-radius: 65% 13% 73% 8% / 8% 43% 18% 65%;
  }

  @media (min-width: 540px) and (max-width: 1023px) {
    > .title {
      padding: 72px 36px;
    }
    > .content {
      padding: 0px 36px 72px 36px;
    }
  }

  > .title,
  > .content {
    @media (max-width: 539px) {
      padding: 24px;
      margin: 0px;
    }
    @media (min-width: 1024px) {
      padding: 24px;
      margin: 52px 52px 52px 52px;
    }
  }
}
