.banner {
  background-image: url('../../assets/backgrounds/banners/banner.webp');
  background-position: 40% center;
  background-size: cover;
  @include smoothShadow(12px, 6px, $shadow, 0.3);
}

.banner-title {
  color: $light;
  text-shadow: 0 0 2px $dark;
}

.textblock {
  border-radius: 5% 95% 25% 44% / 15% 30% 60% 50%;
  $size: 320px;
  height: $size;
  width: $size;
  padding: 80px;
}
