.password-page {
  margin-top: 52px;
  margin-bottom: 250px;

  @include reCenter;
  flex-direction: column;

  @media (max-width: 1023px) {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 55px;
  }

  > .form {
    width: 100%;
    max-width: 330px;
    > div > .input {
      margin-bottom: 30px;
    }
  }
}
