.section.is-medium {
  padding-top: 100px;
}
.post {
  @include opacity($bezier-1);
}
.post-wrapper {
  background-image: url('../../assets/backgrounds/components/freepik__blank-white-notepaper-design_53876-97378.avif');

  &.article {
    @include slantShadow(3px, 10px, 0.3);
    @include post-radius('article');
  }
  &.video {
    margin-top: 60px;
    @include post-radius('video');
    @include slantShadow(3px, 10px, 0);
  }

  > .post {
    &.article {
      @include post-radius('article');
      @include post-bg-col(white, lighten($pinkish-tan, 15), $silver, $white, 0.5);

      width: 100%;
      height: 100%;
      min-height: 585px;

      > .title {
        min-height: 125px;
      }
      > .content.read-it {
        min-height: 390px;
      }

      > .title,
      > .content {
        padding: 10px;
        margin: 52px 10px 10px 10px;
        border-left: 0px;

        @media (min-width: 540px) {
          padding: 22px;
          margin: 52px 22px 22px 22px;
          border-left: 0px;
        }
        @media (min-width: 768px) {
          padding: 52px;
          margin: 52px 0px 52px 52px;
          border-left: 5px dotted $danger;
        }
      }
    }
    &.video {
      @include post-radius('video');
      @include post-bg-col($white, $silver, $charcoal, $dark, 0.9);

      width: 100%;
      height: 100%;
      padding: 5%;

      @media (max-height: 539px) {
        min-height: 335px;
        max-height: 435px;
      }
      @media (min-height: 540px) and (max-height: 911px) {
        min-height: 455px;
        max-height: 555px;
      }
      @media (min-height: 912px) {
        min-height: 635px;
        max-height: 735px;
      }

      > .title > div > .input {
        width: 75%;
      }
      > .title,
      .content {
        text-align: center;
      }
      > .content {
        @include reCenter();
        flex-direction: column;
      }
    }
  }
}
.status {
  > .notification {
    width: fit-content;
    @include reCenter();
    flex-direction: column;
  }
}
