.dashboard {
  @include flexColumn;
  margin-top: 52px;

  @media (max-width: 1023px) {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 55px;
  }

  > .title {
    @media (min-width: 1024px) {
      margin-top: 0px;
    }
    height: 15%;
    display: flex;
    align-items: flex-end;
  }

  > .container {
    @include flexColumn;
    $vert-marg: 80px;
    margin-top: $vert-marg;
    margin-bottom: $vert-marg;

    > .wrap-buttons {
      justify-content: space-between;
    }
  }

  // CONNECT FORM
  > .columns > .column {
    min-height: 535px;
    margin: 40px;
    border-radius: 65% 3% 65% 3% / 3% 65% 3% 65%;

    @media (max-width: 539px) {
      margin: 42px 8px;
    }

    > .title {
      margin-top: 12px;
    }

    > .form {
      min-height: 420px;
      max-width: 285px;
      margin: 0px 12px 12px 12px;

      @include flexColumn;
      justify-content: space-between;
      align-items: center;

      > .button {
        width: fit-content;
        @include flexRow;
        margin-top: 12px;
      }
    }
  }
}

.posts-manager {
  flex-direction: column;

  @media (max-width: 555px) {
    padding-left: 0px;
    padding-right: 0px;
  }

  .title {
    margin-bottom: 52px;
  }
}

.cell > .subtitle {
  font-weight: bold;
}

@media (max-width: 555px) {
  .table tr {
    border: 2px solid $grey-light;
    border-radius: 10px;
    margin: 10px 0px;

    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    gap: 0px 0px;
    grid-template-areas:
      'cell-title cell-title cell-title'
      'cell-status cell-type cell-cover';
  }

  .cell {
    &.created,
    &.updated {
      display: none;
    }

    &.title,
    &.status,
    &.type,
    &.cover {
      @include reCenter;
    }

    &.title {
      grid-area: cell-title;
      max-height: 68px;
      padding-bottom: 0px;
      > a {
        max-height: 68px;
        text-overflow: clip;
        overflow: hidden;
      }
    }
  }

  .status {
    grid-area: cell-status;
  }

  .type {
    grid-area: cell-type;
  }

  .cover {
    grid-area: cell-cover;
  }

  .posts-manager .title {
    margin-bottom: 0px;
  }
}
