//---Palette
$anti-flash-white: #f2f2f2; //(modified,  origin : flatUIcolors, chinese)
$charcoal: #6b6361; //(origin : flatUIcolors, russian)
$silver: #d9d9d9;
$chocolate: #3e1a0e;
//---tetradic
$pale-rose: #f8c0a8;
$light-grey-green: #b7f8a8;
$very-light-blue: #a8dff8;
$pale-lavender: #e8a8f8;
//---monochrom
$pinkish-tan: #e5a797;
//---analogus
$pale-gold: #f8e8a8;
$pale-pink: #f8a8b7;
//---others
$pale-magenta: #bf5396;
$pinky-palish-grey: #dfd6d3;
$pinkish-grey: #d4aec3;

//---Update Bulma's color variables
$primary: $pale-rose;
$info: $very-light-blue;
$warning: $pale-lavender;
$link: $pinkish-tan;
$danger: $pale-magenta;
$success: $light-grey-green;
//---greyscale
$white: $anti-flash-white;
$grey-light: $silver;
$grey-dark: $charcoal;
$dark: $chocolate;
$light: $pinky-palish-grey;

//---Elements
$about: $pale-rose;
$dark-bis: desaturate($dark, 55);
$secondary: $pale-pink;
// background
$bg-color: lighten($pale-rose, 12);
// Shadow
$shadow: $pinkish-grey;
// navbar
$navlink-hover: $pale-magenta;
$navbar-block: $light;
// links
$link-footer: $pale-magenta;
// buttons
$link-btn: lighten($link, 6);
$success-btn: lighten($success, 12);
$danger-btn: $danger;
$info-btn: lighten($info, 8);

// Update some of Bulma's component variables
$body-background-color: $anti-flash-white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$text: $dark;
