.contact {
  .contact-header {
    padding-bottom: 28px;
  }
  .contact-content {
    > .container > .field > .control {
      .input {
        max-width: 540px;
      }
      .textarea {
        max-height: 312px;
        height: 312px;
      }
    }

    > .container > .field > .contact-buttons {
      @include flex-row;
      justify-content: center;

      > .control > .button {
        margin: 0% 15px;
      }
    }
  }
}

.edit-btn {
  @include flex-row;
  justify-content: space-evenly;
  min-width: 250px;

  > .container {
    max-width: fit-content;
    margin: 0px;
  }
}

.flash {
  &--cont {
    position: sticky;
    z-index: 20;
    top: 80px;
  }

  margin-top: 30px;
  padding: 10px 20px 10px 20px;
  border-width: 5px;
  border-radius: 10px;
  @include shadow(6px, 3px, $shadow, 0.5);

  &.success {
    @include flash-msg(lighten($success, 6), 0.4);
  }
  &.alert {
    @include flash-msg(lighten($warning, 15), 0.4);
  }
}

.error {
  @include flex-row;
  margin: 24px;
  justify-content: center;

  > .subtitle,
  > .exit-icon {
    cursor: pointer;
  }

  > .exit-icon {
    margin-left: 10px;
    position: relative;
    bottom: -4px;
  }
}

.footer {
  min-height: 336px;
}

.notification {
  @include shadow(4px, 3px, $shadow, 0.5);
  &.is-warning {
    @include shadow(8px, 3px, $shadow, 0.5);
  }
  &.is-white {
    @include shadow(12px, 3px, $shadow, 0.5);
  }
}
