.contact {
  .contact-header {
    padding-bottom: 28px;
  }
  .contact-content {
    > .container > .field > .control {
      .input {
        max-width: 540px;
      }
      .textarea {
        max-height: 312px;
        height: 312px;
      }
    }

    > .container > .field > .contact-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;

      > .control > .button {
        margin: 0% 15px;
      }
    }
  }
}

.edit-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 250px;

  > .container {
    max-width: fit-content;
    margin: 0px;
  }
}

.flash {
  position: sticky;
  z-index: 7;

  margin-top: 30px;
  padding: 10px 20px 10px 20px;
  border-width: 5px;
  border-radius: 10px;

  &.success {
    @include flash-msg($info, 0.7);
  }
  // &.errors {
  //   @include flash-msg($warning, 0.7);
  // }
}
