.contact {
  .contact-header {
    padding-bottom: 28px;
  }
  .contact-content {
    > .container > .field > .control {
      .input {
        max-width: 540px;
      }
      .textarea {
        max-height: 312px;
        height: 312px;
      }
    }

    > .container > .field > .contact-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;

      > .control > .button {
        margin: 0% 15px;
      }
    }
  }
}

.edit-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 250px;

  > .container {
    max-width: fit-content;
    margin: 0px;
  }
}

.flash {
  &.success,
  &.error {
    background-color: transparentize($color: $info, $amount: 0.9);
    backdrop-filter: blur(6px);

    position: absolute;
    z-index: 7;
    width: 100%;
    bottom: 0px;
    padding: 50% 0%;
    top: 52px;
  }

  &__msg {
    position: sticky;
    top: 0px;
    left: 34vw;
    padding: 40px;
    border-radius: 50px;
  }
}
