.stickybar {
  position: sticky;
  top: 0px;
  z-index: 30;
}

.add-blur {
  @include blurFilter(4px);

  &.is-primary {
    @include transparentBack($primary, 0.7);
  }
  &.is-secondary {
    @include transparentBack($secondary, 0.7);
  }
  &.is-info {
    @include transparentBack($info, 0.7);
  }
  &.is-warning {
    @include transparentBack($warning, 0.7);
  }
  &.is-success {
    @include transparentBack($success, 0.7);
  }
  &.is-white {
    @include transparentBack(white, 0.2);
  }
  &.is-light {
    @include transparentBack($light, 0.2);
  }
  &.is-dark {
    @include transparentBack($dark-bis, 0.5);
  }
  &.is-black {
    @include transparentBack($black, 0.5);
  }

  &.navbar {
    @include transparentBack($navbar-block, 0.8);
  }
  &.navbar-menu {
    @include transparentBack($navbar-block, 1);
  }

  &.notification {
    @include blurFilter(2px);
  }
}

.centering-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
