//----// HTML's

body {
  color: $text;
}

main {
  // Config
  position: relative;
  top: -52px;
  z-index: 0;
  &.burger-on {
    top: -188px;
  }
}

a {
  color: $link-footer;

  &.navbar-item,
  .navbar-link {
    color: $dark;
    transition: all 0.3s;

    &:hover,
    &:focus,
    &:focus-within {
      background-color: transparent;
      color: $navlink-hover;

      @media (min-width: 1024px) {
        transform: scale(1.25);
      }
      @media (max-width: 1023px) {
        transform: scale(1.25) translate(10%, 0%);
      }

      &.logo {
        &:hover,
        &:focus,
        &:focus-within,
        &:active {
          transform: scale(1);
          color: $dark;
        }
      }
    }
    &:active {
      transform: scale(1);
    }
  }
}

//----// CLASSES

.button {
  border-radius: 15px;
  border: 0px;
  transition: all 0.35s $bezier-1 0s;

  &.is-info {
    @include btnColors($info-btn);
    color: $dark;
    &:hover {
      color: $dark;
      @include smoothShadow(6px, 1px, darken($info-btn, 20%), 0);
    }
  }
  &.is-link {
    @include btnColors($link-btn);
    &:hover {
      @include smoothShadow(6px, 1px, darken($link-btn, 30%), 0);
      color: white;
      background-color: $link-btn;
    }
  }
  &.is-success {
    @include btnColors($success-btn);
    color: $dark;
    &:hover {
      color: $dark;
      @include smoothShadow(6px, 2px, #9bf48a, 0);
    }
  }
  &.is-danger {
    @include btnColors($danger-btn);
  }

  &.is-dark {
    @include btnColors($dark);
  }
  &.is-grey {
    color: white;
    @include btnColors($grey);
  }
  &.is-white {
    @include btnColors($white);
  }
}

.input,
.textarea {
  @include linGradient($to-top-left, darken($input, 8%), $input);
  border-radius: 10px;

  @include smoothShadow(4px, 1px, darken($shadow, 10%), 0);
  &:hover {
    border-color: $input-hover;
  }
  &:focus {
    border-color: $input-focus;
  }

  &:disabled {
    @include smoothShadow(4px, 1px, darken($shadow, 10%), 0);
    @include linGradient($to-top-left, darken($silver, 7%), $silver);
    border-color: $silver;
  }
}
