//----// HTML's

body {
  color: $text;
}

main {
  // Config
  position: relative;
  top: -52px;
  z-index: 0;
  &.burger-on {
    top: -188px;
  }
}

a {
  color: $link-footer;

  &.navbar-item,
  .navbar-link {
    color: $dark;
    transition: all 0.3s;

    &:hover,
    &:focus,
    &:focus-within {
      background-color: transparent;
      color: $navlink-hover;

      @media (min-width: 1024px) {
        transform: scale(1.25);
      }
      @media (max-width: 1023px) {
        transform: scale(1.25) translate(10%, 0%);
      }

      &.logo {
        &:hover,
        &:focus,
        &:focus-within,
        &:active {
          transform: scale(1);
          color: $dark;
        }
      }
    }
    &:active {
      transform: scale(1);
    }
  }
}

//----// CLASSES

.button {
  border-radius: 15px;
  border: 0px;
  transition: all 0.35s $bezier-1 0s;

  &.is-info {
    @include btnColors($info-btn);
    color: $dark;
    &:hover {
      color: $dark;
      @include smoothShadow(6px, 1px, darken($info-btn, 20%), 0);
    }
  }
  &.is-link {
    @include btnColors($link-btn);
    &:hover {
      @include smoothShadow(6px, 1px, darken($link-btn, 30%), 0);
      color: white;
      background-color: $link-btn;
    }
  }
  &.is-success {
    @include btnColors($success-btn);
    color: $dark;
    &:hover {
      color: $dark;
      @include smoothShadow(6px, 2px, #9bf48a, 0);
    }
  }
  &.is-danger {
    @include btnColors($danger-btn);
  }

  &.is-dark {
    @include btnColors($dark);
  }
  &.is-grey {
    color: white;
    @include btnColors($grey);
  }
  &.is-white {
    @include btnColors($white);
  }
}

.input,
.textarea {
  @include linGradient($to-top-left, $darken-input, $input);
  border-radius: $input-radius;

  @include smoothShadow(4px, 1px, darken($shadow, 10%), 0);
  &:hover {
    border-color: $input-hover;
  }
  &:focus {
    border-color: $input-focus;
  }

  &:disabled {
    @include smoothShadow(4px, 1px, darken($shadow, 10%), 0);
    @include linGradient($to-top-left, darken($grey-light, 7%), $grey-light);
    border-color: $grey-light;
  }
}

.file.is-boxed.has-name .file-cta {
  border-radius: $input-radius $input-radius 0 0;
}
.file.is-boxed.has-name .file-name {
  border-radius: 0 0 $input-radius $input-radius;
}

.file {
  border-radius: $input-radius;
  width: fit-content;
  @include reCenter();
  @include smoothShadow(4px, 1px, darken($shadow, 30%), 0);

  > .file-label {
    > .file-name {
      border-color: $darken-input;

      @include linGradient($to-top-left, $darken-input, $input);
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;

  & input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: $secondary;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px $secondary;
    }

    &:checked + .slider:before {
      -webkit-transform: translateX(15px);
      -ms-transform: translateX(15px);
      transform: translateX(15px);
    }
  }

  > .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $grey-light;
    -webkit-transition: 0.6s;
    transition: 0.6s;

    &:before {
      position: absolute;
      content: '';
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.6s;
      transition: 0.6s;
    }

    &.round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
      }
    }
  }
}
