.bg-pattern {
  background-color: $white;
  & {
    background-image: url('../../assets/background/leaf.svg');
    background-size: 50px;
    background-repeat: repeat;
    background-blend-mode: normal;
  }
}

.user-log {
  $position: 15px;

  position: absolute;
  top: $position;
  right: $position;

  > .user-log__img {
    $size: 25px;

    width: $size;
    height: $size;
    background-size: $size;

    filter: invert(48%) sepia(0%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);

    background-image: url('../../assets/icons/circle-user-solid.svg');
    background-repeat: no-repeat;
  }
}

.exit-icon {
  $size: 18px;

  width: $size;
  height: $size;
  background-size: $size;

  filter: invert(48%) sepia(60%) saturate(2476%) hue-rotate(305deg) brightness(80%) contrast(95%);

  background-image: url('../../assets/icons/circle-xmark-solid.svg');
  background-repeat: no-repeat;
}
