.bg-pattern {
  background-color: $white;
  & {
    background-image: url('../../assets/leaf-ui.svg');
    background-size: 100px;
    background-repeat: repeat;
    background-blend-mode: normal;
  }
}
