/* offset-x | offset-y | blur-radius | spread-radius | color */
@mixin shadow($blur-radius) {
  box-shadow: 0px 0px $blur-radius 0px transparentize($color: $shadow, $amount: 0.5);
}

@mixin transparent-back($color-value, $amount-value) {
  @include shadow(6px);
  $darkened: darken($color-value, 12%);
  background: linear-gradient(
    0deg,
    transparentize($color: $darkened, $amount: $amount-value) 0%,
    transparentize($color: $color-value, $amount: $amount-value) 100%
  );

  @if $color-value == $black or $color-value == $dark {
    box-shadow: 0px 0px 10px 0px transparentize($color: $dark, $amount: 0.2);
    $lightened: lighten($color-value, 40%);
    background: linear-gradient(
      0deg,
      transparentize($color: $color-value, $amount: $amount-value) 0%,
      transparentize($color: $lightened, $amount: $amount-value) 100%
    );
  }
}

@mixin blur-filter($amount-value) {
  backdrop-filter: blur($amount-value);
  -webkit-backdrop-filter: blur($amount-value);
}

@mixin btn-color($color-value) {
  $main: $color-value;
  $lightened: lighten($color-value, 20%);
  $darkened: darken($color-value, 20%);
  $amount-value: 0.2;

  // white buttons
  @if $color-value == $white or $color-value == $light {
    background: radial-gradient(
      transparentize($color: $lightened, $amount: $amount-value) 60%,
      transparentize($color: $main, $amount: $amount-value) 70%,
      transparentize($color: $darkened, $amount: $amount-value) 100%
    );
  } @else {
    @if $color-value == $link-btn {
      color: white;
    }

    // dark buttons
    @if $color-value == $black or $color-value == $dark {
      $main: lighten($color-value, 10%);
    }

    background: radial-gradient(
      transparentize($color: $darkened, $amount: $amount-value) 40%,
      transparentize($color: $main, $amount: $amount-value) 100%,
      transparentize($color: $lightened, $amount: $amount-value) 100%
    );
  }

  border: 2px solid transparentize($color: darken($main, 10%), $amount: $amount-value);

  &:hover {
    transform: scale(1.08);

    @if $color-value == $link-btn or $color-value == $success-btn {
      @if $color-value == $success-btn {
        box-shadow: 0px 0px 6px 1px darken($success-btn, 30);
      }
      @if$color-value == $link-btn {
        box-shadow: 0px 0px 6px 0px desaturate($danger, 20%);
        color: white;
      }
    } @else {
      box-shadow: 0px 0px 4px 1px $color-value;
    }
  }
}

@mixin recenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
