.stickybar {
  position: sticky;
  top: 0px;
  z-index: 30;
}
.navbar {
  @include smoothShadow(4px, 2px, $shadow, 0.4);
  @include blurFilter(4px);
  background-color: transparentize($primary, 0.8);
}
.navbar-end {
  @media (min-width: 1024px) and (max-width: 1280px) {
    margin-left: 500px;
  }
}


a.navbar-item.logo{
  > img {
    $height: 51px;
    height: $height;
    max-height: $height;
  }
  padding: 0px 12px;
  transition: none;
  &:hover,
  &:focus,
  &:focus-within {
    background-color: transparent;
    color: $navlink-hover;

    @media (min-width: 1024px) {
      transform: scale(1);
    }
    @media (max-width: 1023px) {
      transform: scale(1) translate(0%, 0%);
    }
  }
  &:active {
    transform: scale(1);
  }
}
  
