.table {
  width: 100%;
  max-width: 1080px;
  border-radius: 8px;

  @media (min-width: 556px) {
    @include smoothShadow(6px, 3px, $grey-light, 0.4);
  }
  & td,
  & th {
    vertical-align: middle;
  }

  & thead {
    > tr > th {
      text-align: center;
      background-color: $grey-light;

      &.first {
        border-radius: 8px 0px 0px 0px;
      }
      &.last {
        border-radius: 0px 8px 0px 0px;
      }
    }
  }

  & tr {
    background-color: lighten($light, 8);
  }
}

@media (max-width: 555px) {
  .table {
    @include reCenter;
  }
  .table tbody {
    display: block;
  }
  .table thead,
  .table th {
    display: none;
  }

  .table td {
    border: none;
  }
}
