//---Palette
$anti-flash-white: #f2f2f2; //(modified,  origin : flatUIcolors, chinese)
$charcoal: #6b6361; //(origin : flatUIcolors, russian)
$silver: #d9d9d9;
$chocolate: #3e1a0e;
//---tetradic
$pale-rose: #f8c0a8;
$light-grey-green: #b7f8a8;
$very-light-blue: #a8dff8;
$pale-lavender: #e8a8f8;
//---monochrom
$pinkish-tan: #e5a797;
//---analogus
$pale-gold: #f8e8a8;
$pale-pink: #f8a8b7;
//---others
$pale-magenta: #bf5396;
$pinky-palish-grey: #dfd6d3;
$pinkish-grey: #cdb4c2;
