//---Palette
$anti-flash-white: #f2f2f2; //(modified,  origin : flatUIcolors, chinese)
$medium-grey: #a3a9a8;
$silver: #d9d9d9;
$charcoal: #6b6361; //(origin : flatUIcolors, russian)
$chocolate: #3e1a0e;

//---Palette
$mushroom: #b2937e;
$mushroom-light: #cab9a3;
$light-beige: #e9e7da;
$light-green: #8e9d7b;
$dark-green: #5a5e45;
//---vartiations
// tetradic
$tetradic-1: #7b9d9b;
$tetradic-2: #8a7b9d;
$tetradic-3: #9d7b7d;
// analog
$analog-1: #7d9d7b;
$analog-2: #9d9b7b;
// others
$coral: #c26f76;
$gold: #d1b661;
