@mixin anim-over($timing-func) {
  transform: scale(1);
  opacity: 1;
  animation: over 6.2s $timing-func 0.3s infinite alternate backwards;
}

@mixin anim-opacity($timing-func) {
  opacity: 0;
  animation: justOpacity 2.2s $timing-func 0.3s 1 alternate forwards;
}
