<div class="container">
    <div class="columns timestamps">
        @if(updatedAt !== null)
            <div class="tag column is-4 is-primary is-medium">
                @if(updatedAt !== null)
                    {{updatedAt}}                      
                @end
            </div>
        @end
        <div class="tag column is-4 is-black is-medium">
            {{createdAt}}
        </div>
    </div>
</div>