<div class="timestamps">
    @if(updatedAt !== null)
        <div class="tag is-primary is-medium updatedAt">
            @if(updatedAt !== null)
                {{updatedAt}}                      
            @end
        </div>
    @end
    <div class="tag is-black is-medium createdAt">
        {{createdAt}}
    </div>
</div>