@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora/Lora-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Update Bulma's global variables
$family-sans-serif: 'Lora', serif;
$title-font: 'PlayfairDisplay', sans-serif;
