<h1 class="title is-3">Demande de contact</h1>

<ul>
    <li class="title is-3">{{surname}}</li>
    <li class="title is-3">{{name}}</li>
    <li class="title is-3">{{email}}</li>
</ul>

<p class="title is-3">
    <strong>{{content}}</strong>
</p>