@layout('layout')

@section('page')  

    <section class="section is-large has-text-centered password-page">
        <h1
            class="title is-3"
        >
            Changement de mot de passe
        </h1>
                    
        @!component('../components/password/passwordForm.edge')
        
    </section>
    
@endsection