<section class="section is-medium has-text-centered centering-item dashboard">        
    <h1
        class="title is-2"
    >
        Tableau de bord
    </h1>
    @!component('../../components/user/createPost.edge')

    @!component('../../components/user/logout.edge')
</section>