<div
    class="container has-text-centered centering-item"
>
    <h1
        class="title is-4"
    >
        Se deconnecter :
    </h1>

    <div class="container">
        <div class="control">
            <button
                class="button is-dark"
                x-on:click="logout()"
            >
                Deconnexion
            </button>
        </div>
    </div>
</div>